In [1]:
import pandas as pd
import os

In [6]:
arquivos =[
    "logs_ARA7141-02652A (20162)_20220609-1950.csv",
    "logs_ARA7141-02652A (20162)_20220609-1950.xlsx",
    "logs_ARA7141-02652B (20171)_20220609-2008.csv",
    "logs_ARA7580-01652B (20171)_20220609-2005.csv",
    "logs_ARA7580-01652B (20171)_20230920-1504.csv",
    "logs_CIT7139-02652A (20181)_20220609-2058.csv",
    "logs_CIT7139-02652A (20201)_20230920-1523.csv",
    "logs_CIT7139-02652A (20202)_20220125-1041.csv",
    "logs_CIT7139-02652A (20202)_20230920-1449.csv",
    "logs_CIT7139-02652A (20202)_20230920-1520.csv",
    "logs_CIT7139-02652A (20211)_20230920-1543(1).xlsx",
    "logs_CIT7139-02652A (20211)_20230920-1543.csv",
    "logs_CIT7139-02652A (20211)_20230920-1543.xlsx",
    "logs_CIT7139-02652A (20212)_20230920-1535.csv",
    "logs_CIT7139-02652A (20222)_20230920-1541.csv",
    "logs_CIT7139-02652A (20231)_20230920-1548.csv",
    "logs_CIT7139-02652B (20182)_20220609-2102(1).csv",
    "logs_CIT7139-02652B (20182)_20220609-2102.csv",
    "logs_CIT7139-02652B (20191)_20220609-2106.csv",
    "logs_CIT7580-01652A (20181)_20220609-2056.csv",
    "logs_CIT7580-01652A (20181)_20230920-1514.csv",
    "logs_CIT7580-01652A (20181)_20230920-1514.xlsx",
    "logs_CIT7580-01652A (20182)_20230920-1516(1).csv",
    "logs_CIT7580-01652A (20182)_20230920-1516.csv",
    "logs_CIT7580-01652A (20191)_20230920-1526.csv",
    "logs_CIT7580-01652A (20201)_20230920-1446.csv",
    "logs_CIT7580-01652A (20202)_20220125-1039.csv",
    "logs_CIT7580-01652A (20211)_20230920-1544.csv",
    "logs_CIT7580-01652A (20212)_20230920-1538.csv",
    "logs_CIT7580-01652A (20222)_20230920-1539.csv",
    "logs_CIT7584-03652 (20181)_20220609-2055.csv",
    "logs_CIT7584-03652 (20191)_20220609-2104(1).csv",
    "logs_CIT7584-03652 (20191)_20220609-2104.csv",
    "logs_CIT7584-03652 (20231)_20230920-1545.csv"
]

In [7]:
dfs = []

for arquivo in arquivos:
    extensao = os.path.splitext(arquivo)[-1].lower()

    if extensao == ".csv":
        df = pd.read_csv(arquivo)
    elif extensao in [".xls", ".xlsx"]:
        df = pd.read_excel(arquivo)
    else:
        print(f"Formato não suportado: {arquivo}")
        continue

    dfs.append(df)

In [8]:
df = pd.concat(dfs, ignore_index=True)
df

,Hora,Nome completo,Usuário afetado,Contexto do Evento,Componente,Nome do evento,Descrição,Origem,endereço IP
0,9/06/2022 19:50,Cristian Cechinel,-,Curso: ARA7141-02652A (20162) - Programação em...,Logs,Relatório de log visto,The user with id '169763' viewed the log repor...,web,143.255.96.20
1,9/06/2022 19:50,Cristian Cechinel,-,Curso: ARA7141-02652A (20162) - Programação em...,Sistema,Curso visto,The user with id '169763' viewed the course wi...,web,143.255.96.20
2,9/06/2022 19:48,Cristian Cechinel,-,Curso: ARA7141-02652A (20162) - Programação em...,Sistema,Curso visto,The user with id '169763' viewed the course wi...,web,143.255.96.20
3,21/05/2021 15:17,Vinicius Faria Culmant Ramos,-,Curso: ARA7141-02652A (20162) - Programação em...,Sistema,Lista de usuários vistos,The user with id '137266' viewed the list of u...,web,191.191.58.98
4,21/05/2021 15:17,Vinicius Faria Culmant Ramos,-,Curso: ARA7141-02652A (20162) - Programação em...,Sistema,Lista de usuários vistos,The user with id '137266' viewed the list of u...,web,191.191.58.98
...,...,...,...,...,...,...,...,...,...
211090,7/03/2023 13:33,Cristian Cechinel,-,Curso: CIT7584-03652 (20231) - Estrutura de Da...,Sistema,Seção do curso criada,The user with id '2' created section number '1...,restore,177.18.62.88
211091,7/03/2023 13:33,Cristian Cechinel,-,Curso: CIT7584-03652 (20231) - Estrutura de Da...,Sistema,Seção do curso criada,The user with id '2' created section number '0...,restore,177.18.62.88
211092,7/03/2023 13:33,Cristian Cechinel,-,Curso: CIT7584-03652 (20231) - Estrutura de Da...,Sistema,Instância de inscrição criada,The user with id '2' created the instance of e...,restore,177.18.62.88
211093,7/03/2023 13:33,Cristian Cechinel,-,Curso: CIT7584-03652 (20231) - Estrutura de Da...,Sistema,Instância de inscrição criada,The user with id '2' created the instance of e...,restore,177.18.62.88
211094,7/03/2023 13:33,Cristian Cechinel,-,Curso: CIT7584-03652 (20231) - Estrutura de Da...,Sistema,Instância de inscrição criada,The user with id '2' created the instance of e...,restore,177.18.62.88

In [9]:
df.to_csv("dataset_logs.csv", index=False, encoding="utf-8-sig")

In [4]:
db = pd.read_csv('dataset_logs.csv')
db.head()

,Hora,Nome completo,Usuário afetado,Contexto do Evento,Componente,Nome do evento,Descrição,Origem,endereço IP
0,9/06/2022 19:50,Cristian Cechinel,-,Curso: ARA7141-02652A (20162) - Programação em...,Logs,Relatório de log visto,The user with id '169763' viewed the log repor...,web,143.255.96.20
1,9/06/2022 19:50,Cristian Cechinel,-,Curso: ARA7141-02652A (20162) - Programação em...,Sistema,Curso visto,The user with id '169763' viewed the course wi...,web,143.255.96.20
2,9/06/2022 19:48,Cristian Cechinel,-,Curso: ARA7141-02652A (20162) - Programação em...,Sistema,Curso visto,The user with id '169763' viewed the course wi...,web,143.255.96.20
3,21/05/2021 15:17,Vinicius Faria Culmant Ramos,-,Curso: ARA7141-02652A (20162) - Programação em...,Sistema,Lista de usuários vistos,The user with id '137266' viewed the list of u...,web,191.191.58.98
4,21/05/2021 15:17,Vinicius Faria Culmant Ramos,-,Curso: ARA7141-02652A (20162) - Programação em...,Sistema,Lista de usuários vistos,The user with id '137266' viewed the list of u...,web,191.191.58.98

In [5]:
db.describe()

,Hora,Nome completo,Usuário afetado,Contexto do Evento,Componente,Nome do evento,Descrição,Origem,endereço IP
count,211095,211095,211095,211036,211095,211095,211095,211095,191617
unique,47327,266,289,789,27,130,58366,4,4346
top,28/02/2023 11:33,-,-,Curso: CIT7139-02652A (20211) - Programação em...,Sistema,Curso visto,The user with id '127' viewed the user report ...,web,143.255.96.5
freq,7813,30701,151456,18036,102676,48229,3852,188598,7937

In [3]:
db1 = pd.read_csv('public_log_export_2025-09-24_171651.csv')
db1

,course_id,user_name,component,time_created,created_at,updated_at,teacher_id,student_id,raw_data,moodle_id,event_name,id,is_processed,action,target,context_id,moodle_related_user_id,other,context_instance_id,retries
0,216,Maria Gutiana De Oliveira Moreira,core,2025-08-08 17:28:09,2025-08-22 16:06:00.597335,2025-08-22 16:06:00.612113,NaN,21408.0,"{""id"":79273831,""ip"":""186.227.68.224"",""crud"":""r...",79273831,\core\event\course_viewed,1553499,True,viewed,course,181833,NaN,"{""coursesectionnumber"":2}",5474.0,0
1,216,Jorge Luiz Barbosa Almeida,mod_book,2025-08-08 17:28:19,2025-08-22 16:06:01.234555,2025-08-23 01:00:24.049206,NaN,21525.0,"{""id"":79273849,""ip"":""201.20.104.90"",""crud"":""r""...",79273849,\mod_book\event\course_module_viewed,1553503,False,viewed,course_module,181835,NaN,NaN,94568.0,2
2,216,Maria Gutiana De Oliveira Moreira,core,2025-08-08 17:28:13,2025-08-22 16:06:00.629519,2025-08-22 16:06:00.644226,NaN,21408.0,"{""id"":79273842,""ip"":""186.227.68.224"",""crud"":""r...",79273842,\core\event\course_viewed,1553500,True,viewed,course,181833,NaN,"{""coursesectionnumber"":2}",5474.0,0
3,216,Jorge Luiz Barbosa Almeida,mod_book,2025-08-08 17:28:19,2025-08-22 16:06:01.276636,2025-08-23 01:00:24.052689,NaN,21525.0,"{""id"":79273850,""ip"":""201.20.104.90"",""crud"":""r""...",79273850,\mod_book\event\chapter_viewed,1553504,False,viewed,chapter,181835,NaN,NaN,94568.0,2
4,216,Laila Louise Sousa Silva,core,2025-08-08 17:28:18,2025-08-22 16:06:01.038833,2025-08-22 16:06:01.057682,NaN,21844.0,"{""id"":79273845,""ip"":""177.37.184.56"",""crud"":""r""...",79273845,\core\event\course_viewed,1553501,True,viewed,course,181833,NaN,"{""coursesectionnumber"":1}",5474.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645595,147,GABRIELA APARECIDA DE OLIVEIRA BORGES,mod_forum,2024-10-02 22:56:48,2024-10-07 04:54:52.553742,2025-02-21 04:41:13.341987,NaN,4645.0,"{""id"":44991790,""ip"":""191.253.68.182"",""crud"":""c...",44991790,\mod_forum\event\discussion_subscription_created,540019,True,created,discussion_subscription,81417,4645.0,{},38596.0,0
645596,205,Marcila Oliveira,core,2025-04-25 03:51:51,2025-05-01 00:42:04.887933,2025-05-01 02:17:55.360877,NaN,18977.0,"{""id"":655603,""other"":{""coursesectionnumber"":4}...",655603,\core\event\course_viewed,1210735,True,viewed,course,150337,NaN,{},NaN,0
645597,205,Jardel Calixto De Souza,core,2025-04-25 03:54:49,2025-05-01 00:42:07.603227,2025-05-01 02:17:55.833607,NaN,18945.0,"{""id"":655605,""other"":null,""action"":""viewed"",""t...",655605,\core\event\course_viewed,1210736,True,viewed,course,150337,NaN,NaN,NaN,0
645598,205,Leandro De Sousa Fernandes,mod_quiz,2025-04-25 03:48:31,2025-05-01 00:42:12.386294,2025-05-01 02:17:55.85155,NaN,19267.0,"{""id"":655596,""other"":null,""action"":""viewed"",""t...",655596,\mod_quiz\event\course_module_viewed,1210737,True,viewed,course_module,157553,NaN,NaN,NaN,0
645599,205,Leandro De Sousa Fernandes,core,2025-04-25 03:48:42,2025-05-01 00:42:15.583293,2025-05-01 02:17:55.856218,NaN,19267.0,"{""id"":655597,""other"":null,""action"":""viewed"",""t...",655597,\core\event\course_viewed,1210738,True,viewed,course,150337,NaN,NaN,NaN,0