In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('logs.csv')

In [3]:
df

,course_id,user_name,component,time_created,created_at,updated_at,teacher_id,student_id,raw_data,moodle_id,event_name,id,is_processed,action,target,context_id,moodle_related_user_id,other,context_instance_id,retries
0,205,Carlos Eduardo Castro Silva,core,2025-04-12 13:45:04,2025-04-13 01:56:35.163721,2025-04-17 05:00:37.761577,NaN,18491.0,"{""id"":573907,""other"":{""coursesectionnumber"":3}...",573907,\core\event\course_viewed,1128122,True,viewed,course,150337,NaN,{},NaN,0
1,205,Terezila Perpetianne Nogueira Diogenes,core,2025-04-12 13:46:51,2025-04-13 01:56:35.91017,2025-04-17 05:00:37.935118,NaN,19052.0,"{""id"":573915,""other"":null,""action"":""viewed"",""t...",573915,\core\event\course_viewed,1128129,True,viewed,course,150337,NaN,NaN,NaN,0
2,205,Terezila Perpetianne Nogueira Diogenes,core,2025-04-12 13:46:55,2025-04-13 01:56:35.995474,2025-04-17 05:00:37.940878,NaN,19052.0,"{""id"":573916,""other"":{""coursesectionnumber"":3}...",573916,\core\event\course_viewed,1128130,True,viewed,course,150337,NaN,{},NaN,0
3,205,Terezila Perpetianne Nogueira Diogenes,mod_page,2025-04-12 13:47:02,2025-04-13 01:56:36.339831,2025-04-17 05:00:38.050974,NaN,19052.0,"{""id"":573920,""other"":null,""action"":""viewed"",""t...",573920,\mod_page\event\course_module_viewed,1128134,True,viewed,course_module,158491,NaN,NaN,NaN,0
4,205,Eudivan Dias E Silva,mod_quiz,2025-04-12 13:47:09,2025-04-13 01:56:36.753044,2025-04-17 05:00:38.103273,NaN,18482.0,"{""id"":573922,""other"":{""quizid"":""11303"",""submit...",573922,\mod_quiz\event\attempt_submitted,1128136,True,submitted,attempt,157550,18482.0,{},NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097868,205,Carlos Eduardo Castro Silva,core,2025-04-12 13:42:04,2025-04-13 01:56:33.78854,2025-04-17 05:00:37.359789,NaN,18491.0,"{""id"":573888,""other"":null,""action"":""viewed"",""t...",573888,\core\event\course_viewed,1128107,True,viewed,course,150337,NaN,NaN,NaN,0
1097869,205,Carlos Eduardo Castro Silva,core,2025-04-12 13:42:06,2025-04-13 01:56:33.874896,2025-04-17 05:00:37.372661,NaN,18491.0,"{""id"":573889,""other"":{""coursesectionnumber"":3}...",573889,\core\event\course_viewed,1128108,True,viewed,course,150337,NaN,{},NaN,0
1097870,205,Jose Lucas De Castro Alves,core,2025-04-12 13:43:01,2025-04-13 01:56:34.557967,2025-04-17 05:00:37.531293,NaN,19080.0,"{""id"":573896,""other"":{""coursesectionnumber"":3}...",573896,\core\event\course_viewed,1128115,True,viewed,course,150337,NaN,{},NaN,0
1097871,216,Ana Luiza Tome Da Silva,core,2025-08-11 17:55:37,2025-08-22 23:16:05.933022,2025-08-22 23:16:05.950439,NaN,21813.0,"{""id"":79465785,""ip"":""45.233.129.248"",""crud"":""r...",79465785,\core\event\user_profile_viewed,1568973,True,viewed,user_profile,181833,21813.0,"{""courseid"":""5474"",""coursefullname"":""Introduçã...",5474.0,0
1097872,163,Francisco Arthur alves noronha,mod_hvp,2024-11-23 14:13:11,2025-01-30 16:07:21.425787,2025-02-21 07:27:09.280398,NaN,3126.0,"{""id"":59090289,""ip"":""45.176.135.159"",""crud"":""r...",59090289,\mod_hvp\event\course_module_viewed,635508,False,viewed,course_module,126250,NaN,NaN,67036.0,2

In [4]:
print(df.isnull().sum())

course_id                       0
user_name                       0
component                       0
time_created                    0
created_at                      0
updated_at                      0
teacher_id                1060116
student_id                  37793
raw_data                        0
moodle_id                       0
event_name                      0
id                              0
is_processed                    0
action                          0
target                          0
context_id                      0
moodle_related_user_id     942398
other                      641267
context_instance_id        546403
retries                         0
dtype: int64

In [6]:
df["teacher_id"] = df["teacher_id"].fillna("Não")

In [7]:
df

,course_id,user_name,component,time_created,created_at,updated_at,teacher_id,student_id,raw_data,moodle_id,event_name,id,is_processed,action,target,context_id,moodle_related_user_id,other,context_instance_id,retries
0,205,Carlos Eduardo Castro Silva,core,2025-04-12 13:45:04,2025-04-13 01:56:35.163721,2025-04-17 05:00:37.761577,Não,18491.0,"{""id"":573907,""other"":{""coursesectionnumber"":3}...",573907,\core\event\course_viewed,1128122,True,viewed,course,150337,NaN,{},NaN,0
1,205,Terezila Perpetianne Nogueira Diogenes,core,2025-04-12 13:46:51,2025-04-13 01:56:35.91017,2025-04-17 05:00:37.935118,Não,19052.0,"{""id"":573915,""other"":null,""action"":""viewed"",""t...",573915,\core\event\course_viewed,1128129,True,viewed,course,150337,NaN,NaN,NaN,0
2,205,Terezila Perpetianne Nogueira Diogenes,core,2025-04-12 13:46:55,2025-04-13 01:56:35.995474,2025-04-17 05:00:37.940878,Não,19052.0,"{""id"":573916,""other"":{""coursesectionnumber"":3}...",573916,\core\event\course_viewed,1128130,True,viewed,course,150337,NaN,{},NaN,0
3,205,Terezila Perpetianne Nogueira Diogenes,mod_page,2025-04-12 13:47:02,2025-04-13 01:56:36.339831,2025-04-17 05:00:38.050974,Não,19052.0,"{""id"":573920,""other"":null,""action"":""viewed"",""t...",573920,\mod_page\event\course_module_viewed,1128134,True,viewed,course_module,158491,NaN,NaN,NaN,0
4,205,Eudivan Dias E Silva,mod_quiz,2025-04-12 13:47:09,2025-04-13 01:56:36.753044,2025-04-17 05:00:38.103273,Não,18482.0,"{""id"":573922,""other"":{""quizid"":""11303"",""submit...",573922,\mod_quiz\event\attempt_submitted,1128136,True,submitted,attempt,157550,18482.0,{},NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097868,205,Carlos Eduardo Castro Silva,core,2025-04-12 13:42:04,2025-04-13 01:56:33.78854,2025-04-17 05:00:37.359789,Não,18491.0,"{""id"":573888,""other"":null,""action"":""viewed"",""t...",573888,\core\event\course_viewed,1128107,True,viewed,course,150337,NaN,NaN,NaN,0
1097869,205,Carlos Eduardo Castro Silva,core,2025-04-12 13:42:06,2025-04-13 01:56:33.874896,2025-04-17 05:00:37.372661,Não,18491.0,"{""id"":573889,""other"":{""coursesectionnumber"":3}...",573889,\core\event\course_viewed,1128108,True,viewed,course,150337,NaN,{},NaN,0
1097870,205,Jose Lucas De Castro Alves,core,2025-04-12 13:43:01,2025-04-13 01:56:34.557967,2025-04-17 05:00:37.531293,Não,19080.0,"{""id"":573896,""other"":{""coursesectionnumber"":3}...",573896,\core\event\course_viewed,1128115,True,viewed,course,150337,NaN,{},NaN,0
1097871,216,Ana Luiza Tome Da Silva,core,2025-08-11 17:55:37,2025-08-22 23:16:05.933022,2025-08-22 23:16:05.950439,Não,21813.0,"{""id"":79465785,""ip"":""45.233.129.248"",""crud"":""r...",79465785,\core\event\user_profile_viewed,1568973,True,viewed,user_profile,181833,21813.0,"{""courseid"":""5474"",""coursefullname"":""Introduçã...",5474.0,0
1097872,163,Francisco Arthur alves noronha,mod_hvp,2024-11-23 14:13:11,2025-01-30 16:07:21.425787,2025-02-21 07:27:09.280398,Não,3126.0,"{""id"":59090289,""ip"":""45.176.135.159"",""crud"":""r...",59090289,\mod_hvp\event\course_module_viewed,635508,False,viewed,course_module,126250,NaN,NaN,67036.0,2

In [8]:
df["student_id"] = df["student_id"].fillna("Não")

In [9]:
df

,course_id,user_name,component,time_created,created_at,updated_at,teacher_id,student_id,raw_data,moodle_id,event_name,id,is_processed,action,target,context_id,moodle_related_user_id,other,context_instance_id,retries
0,205,Carlos Eduardo Castro Silva,core,2025-04-12 13:45:04,2025-04-13 01:56:35.163721,2025-04-17 05:00:37.761577,Não,18491.0,"{""id"":573907,""other"":{""coursesectionnumber"":3}...",573907,\core\event\course_viewed,1128122,True,viewed,course,150337,NaN,{},NaN,0
1,205,Terezila Perpetianne Nogueira Diogenes,core,2025-04-12 13:46:51,2025-04-13 01:56:35.91017,2025-04-17 05:00:37.935118,Não,19052.0,"{""id"":573915,""other"":null,""action"":""viewed"",""t...",573915,\core\event\course_viewed,1128129,True,viewed,course,150337,NaN,NaN,NaN,0
2,205,Terezila Perpetianne Nogueira Diogenes,core,2025-04-12 13:46:55,2025-04-13 01:56:35.995474,2025-04-17 05:00:37.940878,Não,19052.0,"{""id"":573916,""other"":{""coursesectionnumber"":3}...",573916,\core\event\course_viewed,1128130,True,viewed,course,150337,NaN,{},NaN,0
3,205,Terezila Perpetianne Nogueira Diogenes,mod_page,2025-04-12 13:47:02,2025-04-13 01:56:36.339831,2025-04-17 05:00:38.050974,Não,19052.0,"{""id"":573920,""other"":null,""action"":""viewed"",""t...",573920,\mod_page\event\course_module_viewed,1128134,True,viewed,course_module,158491,NaN,NaN,NaN,0
4,205,Eudivan Dias E Silva,mod_quiz,2025-04-12 13:47:09,2025-04-13 01:56:36.753044,2025-04-17 05:00:38.103273,Não,18482.0,"{""id"":573922,""other"":{""quizid"":""11303"",""submit...",573922,\mod_quiz\event\attempt_submitted,1128136,True,submitted,attempt,157550,18482.0,{},NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097868,205,Carlos Eduardo Castro Silva,core,2025-04-12 13:42:04,2025-04-13 01:56:33.78854,2025-04-17 05:00:37.359789,Não,18491.0,"{""id"":573888,""other"":null,""action"":""viewed"",""t...",573888,\core\event\course_viewed,1128107,True,viewed,course,150337,NaN,NaN,NaN,0
1097869,205,Carlos Eduardo Castro Silva,core,2025-04-12 13:42:06,2025-04-13 01:56:33.874896,2025-04-17 05:00:37.372661,Não,18491.0,"{""id"":573889,""other"":{""coursesectionnumber"":3}...",573889,\core\event\course_viewed,1128108,True,viewed,course,150337,NaN,{},NaN,0
1097870,205,Jose Lucas De Castro Alves,core,2025-04-12 13:43:01,2025-04-13 01:56:34.557967,2025-04-17 05:00:37.531293,Não,19080.0,"{""id"":573896,""other"":{""coursesectionnumber"":3}...",573896,\core\event\course_viewed,1128115,True,viewed,course,150337,NaN,{},NaN,0
1097871,216,Ana Luiza Tome Da Silva,core,2025-08-11 17:55:37,2025-08-22 23:16:05.933022,2025-08-22 23:16:05.950439,Não,21813.0,"{""id"":79465785,""ip"":""45.233.129.248"",""crud"":""r...",79465785,\core\event\user_profile_viewed,1568973,True,viewed,user_profile,181833,21813.0,"{""courseid"":""5474"",""coursefullname"":""Introduçã...",5474.0,0
1097872,163,Francisco Arthur alves noronha,mod_hvp,2024-11-23 14:13:11,2025-01-30 16:07:21.425787,2025-02-21 07:27:09.280398,Não,3126.0,"{""id"":59090289,""ip"":""45.176.135.159"",""crud"":""r...",59090289,\mod_hvp\event\course_module_viewed,635508,False,viewed,course_module,126250,NaN,NaN,67036.0,2

In [12]:
print(df["raw_data"][3])

{"id":573920,"other":null,"action":"viewed","target":"course_module","user_id":8156,"raw_data":{"crud":"r","other":null,"action":"viewed","target":"course_module","userid":"19052","courseid":"4317","edulevel":2,"objectid":"166","anonymous":0,"component":"mod_page","contextid":158491,"eventname":"\\mod_page\\event\\course_module_viewed","objecttable":"page","timecreated":1744465622,"contextlevel":70,"relateduserid":null,"contextinstanceid":"82913"},"component":"mod_page","course_id":205,"context_id":158491,"created_at":"2025-04-12T13:47:02.948182Z","event_name":"\\mod_page\\event\\course_module_viewed","updated_at":"2025-04-12T13:47:02.948182Z","is_processed":false,"time_created":1744465622,"related_user_id":null}

In [ ]:
from pandas import json_normalize
import json

df["raw_data"] = df["raw_data"].apply(json.loads)
# Explodir a coluna 'log' em várias colunas
df_normalized = json_normalize(df["raw_data"])

In [21]:
df_normalized

,id,action,target,user_id,component,course_id,context_id,created_at,event_name,updated_at,...,raw_data.moodle_related_user_id,other.url,other.duedate,other.visible,other.gradable,other.role,other.phone1,other.phone2,other.userId,other.moodleRole
0,573907,viewed,course,7595.0,core,205.0,150337.0,2025-04-12T13:45:04.827827Z,\core\event\course_viewed,2025-04-12T13:45:04.827827Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,573915,viewed,course,8156.0,core,205.0,150337.0,2025-04-12T13:46:52.275540Z,\core\event\course_viewed,2025-04-12T13:46:52.275540Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,573916,viewed,course,8156.0,core,205.0,150337.0,2025-04-12T13:46:55.771505Z,\core\event\course_viewed,2025-04-12T13:46:55.771505Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,573920,viewed,course_module,8156.0,mod_page,205.0,158491.0,2025-04-12T13:47:02.948182Z,\mod_page\event\course_module_viewed,2025-04-12T13:47:02.948182Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,573922,submitted,attempt,7586.0,mod_quiz,205.0,157550.0,2025-04-12T13:47:10.114604Z,\mod_quiz\event\attempt_submitted,2025-04-12T13:47:10.114604Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097868,573888,viewed,course,7595.0,core,205.0,150337.0,2025-04-12T13:42:05.005289Z,\core\event\course_viewed,2025-04-12T13:42:05.005289Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097869,573889,viewed,course,7595.0,core,205.0,150337.0,2025-04-12T13:42:06.301833Z,\core\event\course_viewed,2025-04-12T13:42:06.301833Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097870,573896,viewed,course,8184.0,core,205.0,150337.0,2025-04-12T13:43:01.536240Z,\core\event\course_viewed,2025-04-12T13:43:01.536240Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097871,79465785,viewed,user_profile,NaN,core,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097872,59090289,viewed,course_module,NaN,mod_hvp,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
print(df_normalized.isnull().sum())

id                        0
action                    0
target                    0
user_id              559681
component                 0
                     ...
other.role          1097872
other.phone1        1097872
other.phone2        1097872
other.userId        1097872
other.moodleRole    1097872
Length: 140, dtype: int64